@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #3d4553;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #636C80;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4ed9f8;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4ed9f8;
  }
}
